
body {
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1d1f1f, #797a7b, #ebebeb);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000000, #797979, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1 {
    text-align: center;
    color:rgb(255,255,255);
}

p {
    font-family: 'Times New Roman', Times, serif;
    color:rgb(255,255,255);
    font-size: 20px;
}

p.pR {
    text-align: right;
    float:right;
}

div.container {
    display:flex;
    align-items: center;
    justify-content: center;
}
 
img {
    border-radius: 10%;
    transition: 3s;
}

div.img:hover {
    width: 110%;
}

img.imageR {
    width: 100%;
    height: 100%;
    float:right;
}

img.imageL {
    width: 100%;
    height: 100%;
    float:left;
}

img.imageBig {
    width: 100%;
    height: 100%;
    float:right;
}
